#content_ads_content,
#taw > #tad,
*.AdModule_BG,
*.AdModule_Content,
*.AdModule_ContentLarge,
*.AdUnit,
*.CNN_homeAdBox,
*.CNN_homeRightCol,
*.TextAd,
*.TopTextLink,
*.ad-container,
*.breadcrumb,
*.hireme,
*.horizontaltextadbox,
*.html_module_container,
*.mod-group,
*.sb_adsWv2,
*.sponsored,
*.sponsored-links-tbl,
*.sponsors,
*.sponsors_container,
*.top-ad-space,
*.yahooContentMatch,
*.yahooad,
*.yahooad-urlline,
*[alt="ADVERTISEMENT"],
*[alt="advertisement"],
*[class="sb_adsWv2 sb_adsW2v2"],
*[class='adSummary advertisement'],
*[class='trend-item promoted-trend'],
*[class='user-small-list-item promoted-account'],
*[id="AdSection"],
*[id="BottomRight2"],
*[id="admpu"],
*[id="admpu_skip"],
*[id="ads_rightC"],
*[id="ads_topC"],
*[id="bxmpu"],
*[id="bxmpubg"],
*[id="cnnPipelineModBox"],
*[id="gbar"],
*[id="gbh"],
*[id="guser"],
*[id="mbEnd"],
*[id="pgrhcol"],
*[id="res"][padding-top="11px"][min-width="500px"],
*[id="sponseredlinks"],
*[id="tads"],
*[id='LastAd_lowerleaderboard'],
*[id='LastAd_lowermpu'],
*[id='LastAd_mpu'],
*[id='adzerk1'],
*[id='adzerk2'],
*[id='hireme'],
*[id='r3a'],
*[id='r3w'] > *#r3w2 > *#r3 > #r3a,
*[id='sponlinks'],
*[title="MPU decoration"],
P > center > table[width="100%"],
a.nu,
a[href="http://www.hi-mobile.net/"],
body.bwp,
body[onload="rptcsi('load')"],
center > table.table,
center > table[width="316"],
div > div#ads,
div#bigAd2,
div#content_box_300body_sponsoredoffers,
div#header > div.ad,
div#rightAd300x250,
div#rightAd300x250Lower,
div#rt_rail > div[class='block ad wrap box'] > div[class='ad box'],
div#smac,
div#topAd728x90,
div.Ad,
div.FeatureBox,
div.LColMargin,
div.adB,
div.adcolumn,
div.artAgg,
div.artRh,
div.bcadv,
div.c[tads],
div.cadv,
div.content_box_300,
div.content_box_300body,
div.content_box_sponsoredoffer,
div.inlinecallout,
div.ovt,
div.sb_adsN,
div.sb_adsW,
div.tag-widget,
div[class="sidebar_item sponsor"],
div[float="left"][width="336px"][margin-right="16px"][margin-bottom="5px"] *,
div[id="AdUnit"],
div[id="fad1"],
div[id="search-pva"],
div[id="yschsec"],
div[id='whitepapers'],
div[id=adBlockOne],
div[id=adBlockTwo],
div[id=ms_aur],
div[style="float:left; width:336px; margin-right:16px; margin-bottom:5px"] *,
div[style="height:18px;left:32px;position:absolute; top:106px;width:92px"],
div[width="287px"][height="142px"][border="1px solid #ef6f38"],
font[size="-1"] > a.q,
hr[color="white"][width="390"],
li > a[title="BETA! - Brief labels that you think best describe an article"],
li.yschlast,
li[class='user-small-list-item promoted-account'],
p[class='wptl btm'],
p[class='wptl top'],
table > tbody > tr > td > div.sc,
table[id=mbEnd],
table[width="130"][class="table"][bordercolor="#BBBBBB"],
td#rhsline,
td.Article_Content > span > div,
td.secondary,
ul.trends > li[class='trend-item promoted-trend'],
zagContainer
{
	display: none !important;
}
