zagContainer,
td#rhsline,
zagContainer,
*.mod-group,
div.ovt,
table[id=mbEnd],
div.content_box_300,
div#content_box_300body_sponsoredoffers,
div.content_box_sponsoredoffer,
*.yahooContentMatch,
div[id=ms_aur],
*.AdUnit,
div[id=adBlockOne],
div[id=adBlockTwo],
p[class='wptl top'],
p[class='wptl btm'],
*[id='sponlinks'],
div[id='whitepapers'],
/* *[id=ad0_0_WA_0001A], */
*[class='adSummary advertisement'],
*[id='adzerk1'],
*[id='adzerk2'],
*[id='hireme'],
*.hireme,
*[class='trend-item promoted-trend'],
*[class='user-small-list-item promoted-account'],
*[id='r3a'],
*[id='LastAd_lowerleaderboard'],
*[id='LastAd_lowermpu'],
*[id='LastAd_mpu'],
*.horizontaltextadbox,
div > div#ads,
body[onload="rptcsi('load')"],
div[style="height:18px;left:32px;position:absolute; top:106px;width:92px"],
div#smac,
#taw > #tad,
#content_ads_content,
div#header > div.ad,
table > tbody > tr > td > div.sc,
div.c[tads],
a.nu,
*.sponsored,
*[id="ads_topC"],
*[id="ads_rightC"],
li.yschlast,
div[id="yschsec"],
td.secondary,
div.LColMargin,
div[id="AdUnit"],
div.inlinecallout,
*[id="AdSection"],
div.Ad,
*.TopTextLink,
*.TextAd,
*.ad-container,
*.sponsored-links-tbl,
*[id="BottomRight2"],
div.FeatureBox,
a[href="http://www.hi-mobile.net/"],
center > table.table,
*.top-ad-space,
table[width="130"][class="table"][bordercolor="#BBBBBB"],
P > center > table[width="100%"],
hr[color="white"][width="390"],
*[alt="ADVERTISEMENT"],
*[alt="advertisement"],
div.content_box_300body,
div.content_box_300,
div.content_box_sponsoredoffer,
div[width="287px"][height="142px"][border="1px solid #ef6f38"],
div[float="left"][width="336px"][margin-right="16px"][margin-bottom="5px"] *,
div[style="float:left; width:336px; margin-right:16px; margin-bottom:5px"] *,
*.AdModule_BG,
*.AdModule_Content,
*.AdModule_ContentLarge,
*.sponsors_container,
*.sponsors,
*.html_module_container,
*.breadcrumb,
*.CNN_homeAdBox,
*.CNN_homeRightCol,
*[id="cnnPipelineModBox"],
td.Article_Content > span > div,
div.artRh,
div.artAgg,
*[id="admpu_skip"],
*[title="MPU decoration"],
*[id="bxmpubg"],
*[id="bxmpu"],
*[id="admpu"],
*[id="pgrhcol"],
*[id="sponseredlinks"],
*[id="mbEnd"],
*[id="guser"],
*[id="gbar"],
*[id="tads"],
*[id="gbh"],
div[id="fad1"],
font[size="-1"] > a.q,
*[id="res"][padding-top="11px"][min-width="500px"],
center > table[width="316"],
/* *.tags, */
/* *.tagheader, */
/* *.tagname, */
div.sb_adsW,
div.sb_adsN,
div.adB,
div.cadv,
div.bcadv,
div.tag-widget,
div.adcolumn,
div[class="sidebar_item sponsor"],
div[id="search-pva"],
li > a[title="BETA! - Brief labels that you think best describe an article"],
*[id='r3w'] > *#r3w2 > *#r3 > #r3a,
*.yahooad,
*.yahooad-urlline,
*.sb_adsNv2,
*.sb_adsWv2,
div[text='There is normally an ad here, but your browser is blocking it.'],
div#header > div.ad,
div#topAd728x90,
div#rightAd300x250,
div#rightAd300x250Lower,
div#bigAd2,
ul.trends > li[class='trend-item promoted-trend'],
li[class='user-small-list-item promoted-account'],
div#rt_rail > div[class='block ad wrap box'] > div[class='ad box'],
*[class="sb_adsWv2 sb_adsW2v2"],
body.bwp
{
	display: none !important;
}
