zagContainer,
td#rhsline,
zagContainer,
*.mod-group,
div.ovt,
table[id=mbEnd],
div.content_box_300,
div#content_box_300body_sponsoredoffers,
div.content_box_sponsoredoffer,
*.yahooContentMatch,
div[id=ms_aur],
*.AdUnit,
div[id=adBlockOne],
div[id=adBlockTwo],
p[class='wptl top'],
p[class='wptl btm'],
*[id='sponlinks'],
div[id='whitepapers'],
/* *[id=ad0_0_WA_0001A], */
*[class='adSummary advertisement'],
*[id='adzerk1'],
*[id='adzerk2'],
*[id='hireme'],
*.hireme,
*[class='trend-item promoted-trend'],
*[class='user-small-list-item promoted-account'],
*[id='r3a'],
*[id='LastAd_lowerleaderboard'],
*[id='LastAd_lowermpu'],
*[id='LastAd_mpu'],
*.horizontaltextadbox,
div > div#ads,
body[onload="rptcsi('load')"],
div[style="height:18px;left:32px;position:absolute; top:106px;width:92px"],
div#smac,
#taw > #tad,
#content_ads_content,
div#header > div.ad,
table > tbody > tr > td > div.sc,
div.c[tads]
{
	display: none !important;
}
