urxvt*geometry:         	136x30
urxvt*background:       	#000000
urxvt*foreground:       	#ddeedd
urxvt*inheritPixmap:    	true
urxvt*transparent:              true
urxvt*reverseVideo:		false
! urxvt*tintColor:        	#dfdfdf
urxvt*shading:	        15		!trans, 0=opaque    
! urxvt*fading:	        75		!term unfocus      
urxvt*font:			xft:Bitstream Vera Sans mono:antialias=true:size=10
urxvt*scrollBar:		true
urxvt*scrollBar_floating:	true
urxvt*scrollBar_right:	true
urxvt*saveLines:		8000

kpdf*geometry:          172x55+0+0

xpdf*geometry: 1920x1440+0+0

evince*geometry: 1920x1440+0+0